<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <h1>User Profile</h1>
    <p>Welcome, user!</p>
    <form action="{{ url_for('upload_reel') }}" method="post" enctype="multipart/form-data">
        <label for="video_url">Upload Video URL which is Publically Accessible:</label><br>
        <input type="text" id="video" name="video"><br><br>
        <label for="caption">Caption:</label><br>
        <input type="text" id="caption" name="caption"><br><br>
        <button type="submit">Upload Reel</button>
    </form>
</body>

</html>
